<configuration>

    <appender name="GRAYLOG2" class="com.github.pukkaone.gelf.logback.GelfAppender">
        <graylogHost>${GRAYLOG_HOST}</graylogHost>
        <graylogPort>${GRAYLOG_PORT}</graylogPort>
        <originHost>cibermailservice.herokuapp.com</originHost>
        <levelIncluded>true</levelIncluded>
        <locationIncluded>false</locationIncluded>
        <loggerIncluded>true</loggerIncluded>
        <markerIncluded>false</markerIncluded>
        <mdcIncluded>false</mdcIncluded>
        <threadIncluded>false</threadIncluded>
        <additionalField>application=MyApplication</additionalField>
        <additionalField>environment=development</additionalField>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="GRAYLOG2"/>
    </root>

</configuration>