<configuration>

    <appender name="GRAYLOG2" class="com.github.pukkaone.gelf.logback.GelfAppender">
        <graylogHost>tcp:origin.asuscomm.com</graylogHost>
        <graylogPort>20203</graylogPort>
        <originHost>cibermailservice</originHost>
        <levelIncluded>true</levelIncluded>
        <locationIncluded>false</locationIncluded>
        <loggerIncluded>true</loggerIncluded>
        <markerIncluded>false</markerIncluded>
        <mdcIncluded>false</mdcIncluded>
        <threadIncluded>false</threadIncluded>
        <additionalField>application=MyApplication</additionalField>
        <additionalField>environment=development</additionalField>
    </appender>

    <root level="info">
        <appender-ref ref="GRAYLOG2"/>
    </root>

</configuration>